body {
  background-image: url('food.jpg'); 
  background-color: #9fc583;
  background-size: cover; 
  background-repeat: no-repeat; 
}

.container {
  display: flex;
  justify-content: center;

  
}

.box {
  background: rgba(151, 244, 152, 0.79);
  width: 397px;
  margin-bottom: 20px;
  padding: 15px;
}

.box2 {
  background: rgba(151, 244, 152, 0.79);
}

.search {
  padding: 10px 10px;
  box-shadow: inset 0px 0px 0px 2px #10b918;
  border-radius: 4px;
  border: none;
}

input {
  color:black;
  font-size: 15px;
 font-family: "Merriweather", serif;
}

button {
  padding: 15px;
  background-color: #bcf7ad;
  box-shadow: inset 0px 0px 0px 2px #10b918;;
  border: none;
  margin-left: 15px;
  margin-bottom: 10px;
  color: 	#057e1b;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 4px;
}

h1 {
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-size: 26px;
  color: 	#068b2a;
  
}
tbody {
 font-family: "Merriweather", serif;
}

h2 {
 font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bolder;
}

th {
   font-family: "Merriweather", serif;
  font-weight: bolder;
  color: 	#0d872e;
}


.preloader {

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #046d3c;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 5s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
  transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
  transform: scale(0);
  }

  50% {
  transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}


@media all and (max-width: 576px) {
  body {
    background-image: url('food.jpg');
  }

  .box {
    width: 250px; 
    margin: 10px; 
    padding: 20px; 
  }

  h1{
    font-size: 15px;
  }

}

@media all and (max-width: 950px){
  body {
    background-image: url('food.jpg');
  }
}